@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.4s;
  padding: 3px;
}

a.disabled {
  color: var(--color-link-disabled);
  pointer-events: none;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-link-hover-bg);
  }
}

button {
  background-color: #ddd;
  border-color: black;
}
