.goban-container {
  max-width: 46em;
}
.controls {
  display: flex;
}
button {
  margin-top: 0.4em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  min-width: 5em;
  height: 3em;
}
button.undo:disabled {
  color: var(--color-border);
  background: var(--color-background-soft);
}
button.undo::after {
  content: '\0238C';
  vertical-align: -0.1em;
  font-size: 1.5em;
  font-weight: bold;
}
button.swap {
  padding-top: 0.1em;
}
button.swap::after {
  content: '\2195';
  vertical-align: -0.1em;
  font-size: 1.6em;
  font-weight: bold;
}
